@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header {
  width: 80%;
  height: 95vh;
  border: 1px solid;
  margin: auto;
}
header nav {
  width: 95%;
  height: 7%;
  border: 1px solid;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 5px 15px;
}
header nav ul li:nth-last-child(1) {
  background: #000;
  border-radius: 20px;
  padding: 5px 20px;
}
header nav ul li:nth-last-child(1) a {
  color: white;
}
header nav ul li a {
  text-decoration: none;
  color: black;

  font-size: 13px;
  font-weight: bolder;
  transition: 0.3s linear;
}
header nav ul li a:hover {
  color: rgb(222, 18, 18);
}
header nav .bi-three-dots {
  display: none;
}
header .content {
  position: relative;
  width: 100%;
  height: 93%;
  border: 1px solid black;
}
header .content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  z-index: -1;
  background: url(./images/mark-koch-KiRlN3jjVNU-unsplash.jpg) no-repeat center
    center/cover;
}
header .content .cont_box {
  width: 500px;
  height: auto;
  color: whitesmoke;
  padding: 40px;
}
header .content .cont_box h1 {
  line-height: 40px;
  font-weight: 800;
}
header .content .cont_box p {
  padding: 10px;
  font-size: 14px;
  font-weight: lighter;
  color: whitesmoke;
}
header .content .cont_box button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black;
  background: black;
  color: white;
  outline: none;
  cursor: pointer;

  transition: 1s linear;
}
header .content .cont_box button:hover {
  background: grey;
  border: 2px soild grey;
}
header .trip_box {
  position: relative;
  width: 95%;
  height: auto;
  margin: auto;
}
header .trip_box .search_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px;
  background: white;
  box-shadow: 0px 10px 25px rgb(114, 114, 114);
  z-index: -1;
  padding: 0px 20px;
}
header .trip_box .search_box .card {
  width: 200px;
  height: 100%;
}
header .trip_box .search_box .card h4 {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}
header .trip_box .search_box .card h4 .bi {
  position: absolute;
  font-size: 18px;
  margin: 3px 0px 0px 5px;
  transition: 0.3s linear;
}
header .trip_box .search_box .card input {
  margin-top: 3px;
  padding: 5px 0px;
  border: none;
  font-size: 13px;
  outline: none;
}
header .trip_box .search_box input[type="button"] {
  background: black;
  color: white;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: 0.3s linear;
  cursor: pointer;
}
header .trip_box .search_box input[type="button"]:hover {
  color: grey;
}
